*.pyc
*.png
*.jpg
*.xml
*.iml
*.gif
*.npz
*.npy
*.pth
*.tar
event*
*.pbs
*.gif
*.DS_Store
*.eps
*.o
*.so
*.swp
datasets/
checkpoints/
*.zip
*.tar.gz
*.csv
setup.sh
results/
*_short.txt
test_stuff.py
tb/
datasets/
datasets
.env/
pbs_scripts/logs/
paper_figs/
quant_tables/
